<!doctype html>
<html>
<head>
    <meta charset='utf-8'>
</head>
<body>
    <script src="//dist.geohey.com/g-api.js/latest/g-api.min.js"></script>
    <script>
        var GAPI = require('GAPI');
        console.log(GAPI);
        // GAPI.init('OGJ9OGI4YzAyNmJhNDI3Y2FmOWRmNjBlMTdhZiM4NmM'); // 浏览器访问凭证

        // GAPI.geocoding.geocode('鼓楼', {
        //     admin: '北京'
        // }, function(data) {
        //     console.log(data);
        // }, function(error) {
        //     console.error(error);
        // });
    </script>
</body>
</html>
