<!-- <!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Document</title>
</head>
<body>
	<div id="container"></div>
	<script src="http://webapi.amap.com/maps?v=1.3&key=ffc273390f3acbe2d5737809319d4dbd"></script>
    <script src="../api/amap-geohey-plugin.js"></script>
    <script>
        var map = new AMap.Map( 'container', {
			resizeEnable: true,
			zoom: 5,
			center: [ 116.23, 39.94 ]
		} );

		map.plugin( [ "AMap.Heatmap" ], function() {
		    AMapGeoHey.MapViz.get( '4229f22d186a456781ba4873db04e14c', {
		        host: 'http://geohey.com',                          // 数据请求地址
		        ak: 'OTJlMGUxMGNkYTUzNGZhY2FlN2I2M2UzOGQ5ZWVhMTU',  // API Key
		        tileHost: 'http://{s}.geohey.com',                  // 瓦片请求地址
		        cluster: [ 's1', 's2', 's3', 's4', 's5', 's6', 's7', 's8' ] // 瓦片服务器集群
		    }, null, function(data) {
		    	console.log(data, 'dd');
		    })

		});
    </script>
</body>
</html>-->


<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<title>Amap GeoHey Plugin</title>
	<style>
		html,
		body {
			width: 100%;
			height: 100%;
			padding: 0;
			margin: 0;
			border: 0;
			overflow: hidden;
		}

		#container {
			width: 100%;
			height: 100%;
		}
	</style>
</head>

<body>
	<div id="container"></div>
	<script type="text/javascript" src="http://webapi.amap.com/maps?v=1.4.2&key=ffc273390f3acbe2d5737809319d4dbd"></script>
	<script type="text/javascript" src="../api/amap-geohey-plugin.js"></script>
	<!-- <script src="//dist.geohey.com/g-api.js/latest/g-api.min.js"></script> -->
	<script>
		// var map = new AMap.Map('container', {
		// 	resizeEnable: true,
		// 	zoom: 5,
		// 	center: [116.23, 39.94]
		// });
		// var GAPI = require('GAPI');
		// console.log(GAPI, '1234');
		// map.plugin(["AMap.Heatmap"], function() {

		// 	// const layers = AMapGeoHey.DataViz.get([{
		// 	// 	"dataUid": "a31be504afa44c1ea6afa19995693600",
		// 	// 	"dataType": "private",
		// 	// 	"interactivity": [
		// 	// 		"geoheylng"
		// 	// 	],
		// 	// 	"vizConfig": {
		// 	// 		"type": "marker-heat",
		// 	// 		"weightField": null,
		// 	// 		"heatTopValue": 5,
		// 	// 		"heatSize": 10000,
		// 	// 		"heatSizeUnit": "map",
		// 	// 		"heatMapSize": 500,
		// 	// 		"heatPixelSize": 20,
		// 	// 		"resolution": 4,
		// 	// 		"colors": {
		// 	// 			"1": "#ff0000",
		// 	// 			"0.2": "#0000ff",
		// 	// 			"0.4": "#00ffff",
		// 	// 			"0.6": "#00ff00",
		// 	// 			"0.8": "#ffff00"
		// 	// 		},
		// 	// 		"heatMinOpacity": 0,
		// 	// 		"heatMaxOpacity": 0.8,
		// 	// 		"info": "heatLayerUpdate",
		// 	// 		"version": "1.0.0"
		// 	// 	}
		// 	// }], {
		// 	// 	host: 'http://geohey.com',
		// 	// 	ak: 'YWE2Njk1OGE2ZjFmNDI3ZGEyNTg0Yzk0ZGM2Y2Q2ODk',
		// 	// 	tileHost: 'http://{s}.geohey.com',
		// 	// 	cluster: ['s1', 's2', 's3', 's4', 's5', 's6', 's7', 's8']
		// 	// }, map)
		// 	// 依赖AMap.Heatmap
			

		// 	console.log(layers)

		// });
		// var map = new AMap.Map( 'container', {
		// 	resizeEnable: true,
		// 	zoom: 5,
		// 	center: [ 116.23, 39.94 ]
		// } );

		// // 依赖AMap.Heatmap
		// map.plugin( [ "AMap.Heatmap" ], function() {

		// 	var layerList = AMapGeoHey.DataViz.get( [ {
		// 		"dataUid": "a31be504afa44c1ea6afa19995693600",
		// 		"dataType": "private",
		// 		"interactivity": [
		// 			null
		// 		],
		// 		"vizConfig": {
		// 			"type": "marker-simple",
		// 			"labelField": null,
		// 			"labelFont": "Microsoft YaHei Regular",
		// 			"labelSize": 12,
		// 			"labelDx": 0,
		// 			"labelDy": -20,
		// 			"labelAllowOverlap": true,
		// 			"labelPlacement": "point",
		// 			"blendingMode": "src-over",
		// 			"markerColor": "#c00000",
		// 			"markerOpacity": 0.8,
		// 			"markerSize": 6,
		// 			"outlineColor": "#ffffff",
		// 			"outlineOpacity": 0.8,
		// 			"outlineWidth": 1
		// 		}
		// 	} ], {
		// 		host: 'http://geohey.com',
		// 		ak: 'YWE2Njk1OGE2ZjFmNDI3ZGEyNTg0Yzk0ZGM2Y2Q2ODk',
		// 		tileHost: 'http://{s}.geohey.com',
		// 		cluster: ['s1', 's2', 's3', 's4', 's5', 's6', 's7', 's8']
		// 	}, map )

		// 	console.log( layerList )

		// } );

		var map = new AMap.Map( 'container', {
			resizeEnable: true,
			zoom: 5,
			center: [ 116.23, 39.94 ]
		} );
		map.plugin( [ "AMap.Heatmap" ], function() {
			AMapGeoHey.MapViz.get( '48e9f5cfab83472b934a15802b7eb6a4', {
				host: 'http://geohey.com',
				ak: 'NjM5OWQwMGJhN2YyNDg2MmFhOTViYzdiOTExMGFiZTQ',
				tileHost: 'http://{s}.geohey.com',
				cluster: [ 's1', 's2', 's3', 's4', 's5', 's6', 's7', 's8' ]
			}, map, function( data ) {
				console.log( data )
			} )
		} );
	</script>
</body>

</html>

